In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv("mail_data.csv")

In [3]:
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [4]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
df.tail()

     Category                                            Message
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

In [6]:
df.describe()

       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [8]:
df.columns

Index(['Category', 'Message'], dtype='object')

In [9]:
df.isnull()

      Category  Message
0        False    False
1        False    False
2        False    False
3        False    False
4        False    False
...        ...      ...
5567     False    False
5568     False    False
5569     False    False
5570     False    False
5571     False    False

[5572 rows x 2 columns]

In [10]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [11]:
mail_data = df.where((pd.notnull(df)),'')    #replace the null values with a null string

In [12]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [13]:
df.shape

(5572, 2)

In [14]:
# spam = 0
# ham = 1

mail_data.loc[mail_data['Category']=='spam','Category']= 0
mail_data.loc[mail_data['Category']=='ham','Category']= 1

In [15]:
# seperating the data as texts and labels
X= mail_data['Message']
Y= mail_data['Category']

In [16]:
X

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [17]:
Y

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

### Spilt the data by using train_test_split

In [18]:
# now we split the data
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, Y_train , Y_test = train_test_split(X,Y)

In [20]:
X.shape

(5572,)

In [21]:
X_train.shape

(4179,)

In [22]:
Y_train.shape

(4179,)

In [23]:
Y_test.shape

(1393,)

## Feature Extraction

In [24]:
# TfidfVectorizer ---> Transforms text to feature vectors that can be used as input to estimator
from sklearn.feature_extraction.text import TfidfVectorizer

In [25]:
feature_extraction = TfidfVectorizer(min_df = 1, stop_words='english', lowercase='True')

X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

In [26]:
# convert Y_train and Y_test values as integers

Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [27]:
X_train

5197    I like cheap! But i‘m happy to splash out on t...
3105    That's y i said it's bad dat all e gals know u...
4682                            Are you staying in town ?
4366    Ujhhhhhhh computer shipped out with address to...
1199    Al he does is moan at me if n e thin goes wron...
                              ...
380     I taught that Ranjith sir called me. So only i...
1512    Oops sorry. Just to check that you don't mind ...
4202    Wylie update: my weed dealer carlos went to fr...
2747                        K da:)how many page you want?
4125    Hey sexy buns ! Have I told you ? I adore you,...
Name: Message, Length: 4179, dtype: object

In [28]:
X_train_features

<4179x7241 sparse matrix of type '<class 'numpy.float64'>'
	with 32629 stored elements in Compressed Sparse Row format>

## Training the model

### Logistic Regression

In [29]:
# LogisticRegression---> It gives the probabilistic values which lie between 0 and 1.
from sklearn.linear_model import LogisticRegression

In [30]:
model = LogisticRegression()

In [31]:
model.fit(X_train_features,Y_train)

LogisticRegression()

In [32]:
prediction_on_training_data = model.predict(X_train_features)

In [33]:
prediction_on_training_data

array([1, 1, 1, ..., 1, 1, 1])

### Checking Accuracy

In [34]:
from sklearn.metrics import accuracy_score

In [35]:
accuracy_on_test_data = accuracy_score(Y_train,prediction_on_training_data)

In [36]:
accuracy_on_test_data

0.9662598707824839

## Now we build an predictive system

In [37]:
input_mail = ['It is a email spam detector which gives us te accuracy and predictions.']

input_data_features = feature_extraction.transform(input_mail)

prediction = model.predict(input_data_features)

prediction

array([1])

In [38]:
if (prediction[0]==1):
    print('Ham mail')
    
else:
    print('Spam mail')

Ham mail